.jumbotron{
    height: 440px;
      min-height: 340px;
      background-image: 
      linear-gradient(
        rgba(10, 0, 250, 0.25), 
        rgba(125, 250, 250, 0.45)
      ), url('https://github.com/ayushmohanty24/Portfoliod/blob/master/devscript/LRM_EXPORT_615213494220014_20200602_001258565.jpeg?raw=true');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 14px;
      /* background-attachment: fixed; */
}
/* .page-scroll{
    height:200px;
} */
